{{include:./header.ejs}}
<script type="text/javascript">
    window.AppData = {
        modules: <%- JSON.stringify(modules || {}) %>,
        enableUim: <%- JSON.stringify(enableUim || false) %>,
        site: <%- JSON.stringify(site || {}) %>,
        domain: <%- JSON.stringify(domain || null) %>,
        employee: <%- JSON.stringify(employee || {}) %>,
        user: <%- JSON.stringify(user || {}) %>,
        actions: <%- JSON.stringify(actions || []) %>,
        permissions: <%- JSON.stringify(permissions || []) %>
    }
</script>
<div class="main-page">
    <div class="main-content">
        <div id="app"></div>
    </div>
</div>
{{include:./footer.ejs}}